@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --primary-text-color: #757575;
  --headers-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --back-color: #2f303a;
  --icon-color: #afb1b8;
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--primary-white-color);
  color: var(--headers-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

body.scroll-lock {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
  transition: color 250ms var(--animation);
}
.link:hover, .link:focus {
  color: var(--accent-color);
}

.link--white {
  color: var(--primary-white-color);
}

.link--grey {
  color: rgba(255, 255, 255, 0.6);
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 479.98px) and (max-width: 767.98px) {
  .conteiner {
    max-width: 480px;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .conteiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1199.98px) {
  .conteiner {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1199.98px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__header {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 50px;
}
@media screen and (min-width: 1199.98px) {
  .section__header {
    font-size: 36px;
  }
}

.logo {
  display: block;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}
@media screen and (min-width: 1199.98px) {
  .logo {
    font-size: 26px;
  }
}

.logo--black {
  color: black;
}

.logo--white {
  color: var(--primary-white-color);
}

.projects__button, .call-form__button, .subscribe__button, .hero__button {
  display: flex;
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.call-form__button, .subscribe__button, .hero__button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88;
}

.hero__button {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding: 10px 32px;
}

.subscribe__button {
  align-items: center;
  padding: 10px 28px;
  margin-left: 12px;
}

.call-form__button {
  padding: 10px 52px;
  margin-top: 30px;
}
.call-form__button:hover, .call-form__button:focus {
  background-color: #188ce8;
}

.projects__button {
  background-color: #f5f4fa;
  color: var(--headers-text-color);
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.6;
  padding: 6px 22px;
  transition: color 250ms var(--animation), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms var(--animation);
}
.projects__button:hover, .projects__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__links--footer, .social__links--team {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color 250ms var(--animation), background-color 250ms var(--animation);
}
.social__links--footer:hover, .social__links--team:hover, .social__links--footer:focus, .social__links--team:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.social__links--team {
  color: var(--icon-color);
}

.social__links--footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
}

.social__icons {
  fill: currentColor;
  transition: fill 250ms var(--animation);
}

.call-form {
  display: flex;
  flex-direction: column;
}

.call-form__header {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}

.call-form__textarea {
  resize: none;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  transition: border-color 250ms var(--animation);
}
.call-form__textarea:hover, .call-form__textarea:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}
.call-form__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  letter-spacing: 0.01em;
}
.call-form__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  letter-spacing: 0.01em;
}
.call-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  letter-spacing: 0.01em;
}

.call-form__input {
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  padding: 11px 12px 11px 39px;
  transition: border-color 250ms var(--animation);
}
.call-form__input:hover, .call-form__input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}
.call-form__input:hover + .call-form__icon, .call-form__input:focus + .call-form__icon {
  fill: var(--accent-color);
}

.call-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.call-form__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.call-form__icon {
  fill: var(--headers-text-color);
  position: absolute;
  top: 50%;
  left: 12px;
  pointer-events: none;
  transition: fill 250ms var(--animation);
}

.call-form__wrapper,
.call-form__check-label {
  display: flex;
  align-items: center;
}

.call-form__checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--headers-text-color);
  border-radius: 2px;
  margin-left: 12px;
  margin-right: 7px;
}

.call-form__base-checkbox:checked + .call-form__checkbox {
  background-color: var(--accent-color);
  border: transparent;
}

.call-form__checkbox-icon {
  fill: var(--primary-white-color);
}

.call-form__button-wrapper {
  display: flex;
  justify-content: center;
}

.call-form__text {
  font-size: 12px;
  display: inline-flex;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 2px;
  margin-right: 3px;
}
@media screen and (min-width: 1199.98px) {
  .call-form__text {
    font-size: 14px;
  }
}

.call-form__link {
  font-size: 12px;
  color: var(--accent-color);
  text-decoration: none;
  letter-spacing: 0.03em;
  border-bottom: 1px solid var(--accent-color);
  margin-top: 3px;
}
@media screen and (min-width: 1199.98px) {
  .call-form__link {
    font-size: 14px;
  }
}

.m-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: white;
  top: 0px;
  left: 0px;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
@media screen and (min-width: 767.98px) {
  .m-menu {
    display: none;
  }
}
.m-menu.is-open {
  transform: translateX(0);
  overflow: auto;
}
.m-menu__item {
  margin-bottom: 32px;
}
.m-menu__link {
  color: var(--headers-text-color);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.m-menu__current {
  color: var(--accent-color);
}
.m-menu__contacts {
  margin-bottom: 64px;
}
.m-menu__c-item:not(:last-child) {
  margin-bottom: 32px;
}
.m-menu__phone {
  color: var(--accent-color);
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 479.98px) {
  .m-menu__phone {
    font-size: 30px;
  }
}
.m-menu__email {
  color: var(--primary-text-color);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.m-menu__social-list {
  display: flex;
  flex-wrap: wrap;
}
.m-menu__social-item:not(:first-child) {
  padding-left: 10px;
}
.m-menu__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.m-menu__social-link {
  color: var(--accent-color);
  text-decoration: none;
  font-size: 18px;
}
@media screen and (max-width: 479.98px) {
  .m-menu__social-link {
    font-size: 12px;
  }
}
.m-menu__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--primary-white-color);
  color: var(--headers-text-color);
  cursor: pointer;
}
.m-menu__close-button:hover, .m-menu__close-button:focus {
  color: var(--accent-color);
}
.m-menu__close-icon {
  fill: currentColor;
}

.header__section {
  margin-bottom: 0;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 1199.98px) {
  .header__section {
    padding-top: 24px;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .header__section {
    height: 80px;
  }
}
.header__conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  display: flex;
}
@media screen and (max-width: 1199.98px) {
  .header__nav {
    align-items: center;
    position: relative;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .header__nav {
    height: 80px;
  }
}
.header__button {
  display: flex;
  align-items: center;
  background-color: var(--primary-white-color);
  border: none;
  margin-left: auto;
}
@media screen and (min-width: 767.98px) {
  .header__button {
    display: none;
  }
}
.header__menu-icon {
  fill: var(--headers-text-color);
}
@media screen and (max-width: 767.98px) {
  .header__menu {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
  }
}
@media screen and (min-width: 767.98px) {
  .header__menu {
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1199.98px) {
  .header__menu {
    display: flex;
    margin-left: 93px;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .header__menu {
    margin-right: 90px;
    margin-top: auto;
  }
}
.header__item {
  display: block;
}
@media screen and (min-width: 767.98px) {
  .header__item:not(:last-child) {
    margin-right: 50px;
  }
}
.header__link {
  display: block;
  position: relative;
  color: var(--headers-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-top: 8px;
  padding-bottom: 32px;
}
@media screen and (max-width: 767.98px) {
  .header__link {
    background-color: white;
    padding-top: 0px;
    font-size: 40px;
  }
}

@media screen and (min-width: 767.98px) {
  .current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.contacts {
  display: none;
}
@media screen and (min-width: 767.98px) {
  .contacts {
    display: flex;
    margin-left: auto;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .contacts {
    flex-direction: column;
    gap: 10px;
  }
}
.contacts__link {
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
}
@media screen and (min-width: 1199.98px) {
  .contacts__link {
    padding-top: 8px;
    padding-bottom: 32px;
  }
}
.contacts__icons {
  display: block;
  fill: currentColor;
  margin-right: 10px;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.hero__overlay {
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--back-color);
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768.98px) {
  .hero__overlay {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/overlay.jpg");
  }
}
@media screen and (min-width: 768.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768.98px) and (min-resolution: 192dpi), screen and (min-width: 768.98px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: url("../images/desktop/overlay@2x.jpg");
  }
}
@media screen and (min-width: 480.98px) and (max-width: 768px) {
  .hero__overlay {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/overlay.jpg");
  }
}
@media screen and (min-width: 480.98px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 480.98px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480.98px) and (max-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 480.98px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: url("../images/tablet/overlay@2x.jpg");
  }
}
@media screen and (max-width: 480.98px) {
  .hero__overlay {
    max-width: 480px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/overlay.jpg");
  }
}
@media screen and (max-width: 480.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 480.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480.98px) and (min-resolution: 192dpi), screen and (max-width: 480.98px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: url("../images/mobile/overlay@2x.jpg");
  }
}
.hero__title {
  color: var(--primary-white-color);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  max-width: 360px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1199.98px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 767.98px) {
  .benefits {
    display: flex;
  }
}
@media screen and (min-width: 479.98px) and (max-width: 1199.98px) {
  .benefits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.benefits__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 1199.98px) {
  .benefits__item {
    max-width: 270px;
    margin-bottom: 0px;
  }
  .benefits__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 479.98px) and (max-width: 767.98px) {
  .benefits__item {
    margin: 0px;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
}
.benefits__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
@media screen and (min-width: 1199.98px) {
  .benefits__icons {
    width: 270px;
  }
}
.benefits__headers {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 767.98px) {
  .benefits__headers {
    text-align: left;
  }
}
.benefits__text {
  display: block;
  margin-top: 10px;
  color: var(--primary-text-color);
  font-weight: 400;
  line-height: 1.71;
}

.work__section {
  display: none;
}
@media screen and (min-width: 1199.98px) {
  .work__section {
    display: block;
    padding-top: 0;
  }
}

.work__list {
  display: flex;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__wrapper {
  position: relative;
}

.work__description {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team__section {
  background-color: #f5f4fa;
}

@media screen and (min-width: 767.98px) {
  .team__list {
    display: flex;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .team__list {
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team__items {
  background-color: var(--primary-white-color);
  margin-bottom: 30px;
  padding-bottom: 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 479.98px) {
  .team__items {
    width: 100%;
  }
}
@media screen and (min-width: 1199.98px) {
  .team__items {
    padding-bottom: 30px;
    margin-bottom: 0px;
  }
  .team__items:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .team__items {
    width: calc((100% - 30px) / 2);
  }
}

.team__foto {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.team__names {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}

.team__roles {
  display: block;
  color: var(--primary-text-color);
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.clients__list {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1199.98px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}
.clients__item {
  min-width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 1199.98px) {
  .clients__item {
    min-width: 170px;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .clients__item {
    min-width: calc((100% - 60px) / 3);
  }
}
.clients__link {
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: color 250ms var(--animation), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients__icon {
  fill: currentColor;
  transition: fill 250ms var(--animation);
}

.footer__section {
  background-color: var(--back-color);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  align-items: baseline;
}
@media screen and (min-width: 1199.98px) {
  .footer__container {
    flex-wrap: nowrap;
    gap: 0px;
  }
}

.footer__address {
  text-align: center;
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .footer__address {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1199.98px) {
  .footer__address {
    margin-right: 70px;
    text-align: left;
  }
}

.address {
  text-align: center;
  margin-top: 30px;
  font-style: normal;
  line-height: 1.71;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
@media screen and (min-width: 1199.98px) {
  .address {
    text-align: left;
  }
}

.social__title {
  color: var(--primary-white-color);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1199.98px) {
  .social__title {
    text-align: left;
  }
}

.subscribe {
  width: 100%;
}
@media screen and (min-width: 1199.98px) {
  .subscribe {
    margin-left: 93px;
    width: 570px;
  }
}
.subscribe__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1199.98px) {
  .subscribe__form {
    flex-direction: row;
    align-items: center;
  }
}
.subscribe__tittle {
  color: var(--primary-white-color);
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1199.98px) {
  .subscribe__tittle {
    text-align: left;
  }
}
.subscribe__input {
  color: var(--primary-white-color);
  outline-color: var(--primary-white-color);
  background-color: transparent;
  width: 100%;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 20px;
}
@media screen and (min-width: 479.98px) {
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1199.98px) {
  .subscribe__input {
    width: 358px;
    margin-bottom: 0px;
  }
}
.subscribe__icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
}
.subscribe__button {
  max-width: 200px;
}

.projects__desc {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
.projects__filter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
  max-width: 350px;
}
@media screen and (min-width: 767.98px) {
  .projects__filter {
    justify-content: center;
    max-width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1199.98px) {
  .projects__filter {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767.98px) {
  .projects__but-item:first-child {
    margin-bottom: 7px;
  }
}
.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects__name {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 20px 24px;
}
.projects__header {
  color: var(--headers-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.projects__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.56em;
  letter-spacing: 0.03m;
  transform: translateY(100%);
  transition: transform 250ms ease;
}
.projects__wrapper {
  position: relative;
  overflow: hidden;
}
.projects__item {
  transition: box-shadow 250ms var(--animation);
}
@media screen and (max-width: 479.98px) {
  .projects__item {
    width: 100%;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .projects__item {
    max-width: calc((100% - 30px) / 2);
  }
}
.projects__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__item:hover .projects__description {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms var(--animation), visibility 500ms var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  width: 450px;
  height: 609px;
  background-color: var(--primary-white-color);
  transition: transform 500ms var(--animation);
}
@media screen and (min-width: 1199.98px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.modal__close-button:hover, .modal__close-button:focus {
  color: var(--accent-color);
}

.modal__close-icon {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */