:root {
    --primary-text-color: #757575;
    --headers-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --back-color: #2f303a;
    --icon-color: #afb1b8;
    --animation: cubic-bezier(0.4, 0, 0.2, 1);
}