    
.benefits {
    @media screen and(min-width:$tablet) {
    display: flex;
    }
    @media screen and(min-width:$mobile) and(max-width:$desktop) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__item {
        margin-bottom: 30px;
        @media screen and(min-width:$mobile) and(max-width:$tablet) {
            margin: 0px;
        } 
        @media screen and(min-width:$tablet) and(max-width:$desktop) {
            margin-bottom: 0px;
            width: calc((100% - 30px) / 2);
        }
        @media screen and(min-width:$desktop) {
            max-width: 270px;
            margin-bottom: 0px;

            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }

    &__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        margin-bottom: 30px;
        background-color: #f5f4fa;
        border-radius: 4px;

      

        @media screen and(min-width:$desktop) {
            width: 270px;
                
        }
    }

    &__headers {
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        @media screen and(min-width:$tablet) {
            text-align: left;
        }

    }

    &__text {
        display: block;
        margin-top: 10px;
        color: var(--primary-text-color);
        font-weight: 400;
        line-height: 1.71;
  
    }
}