.footer__section {
    background-color: var(--back-color);
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 0;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    @media screen and(min-width:$desktop) {
        align-items: baseline;
        flex-wrap: nowrap;
        gap: 0px;
    }
}

.footer__address {
    text-align: center;
    @media screen and(min-width:$tablet) and(max-width:$desktop) {
        margin-right: 165px;
    }
    @media screen and(min-width:$desktop) {
       margin-right: 70px;
       text-align: left;
    }
}

.address {
    text-align: center;
    margin-top: 30px;
    font-style: normal;
    line-height: 1.71;

    &__item:not(:last-child) {
        margin-bottom: 9px;
    }
    @media screen and(min-width:$desktop) {
        text-align: left;
    }
}

.social__title {
    color: var(--primary-white-color);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    @media screen and(min-width:$desktop) {
        text-align: left;
    }
}

.subscribe {
    width: 100%;
    @media screen and(min-width:$desktop) {
        margin-left: 93px;
        width: 570px;
    }
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media screen and(min-width:$desktop) {
            flex-direction: row;
            align-items: center;
        }
        }

    &__tittle {
        color: var(--primary-white-color);
        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: center;
        @media screen and(min-width:$desktop) {
            text-align: left;
        }
    }

    &__input {
        color: var(--primary-white-color);
        outline-color: var(--primary-white-color);
        background-color: transparent;
        width: 100%;
        @media screen and(min-width:$mobile) {
            width: 450px;
        }
        padding: 15px 16px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        margin-bottom: 20px;
        @media screen and(min-width:$desktop) {
            width: 358px;
            margin-bottom: 0px;
        }
    }
    &__icon {
        fill: var(--primary-white-color);
        margin-left: 10px;
    }
    &__button {
        max-width: 200px;
    }
}