.header {
    &__section {
    @media screen and(min-width:$desktop) {
        padding-top: 24px;
    }
    @media screen and(min-width:$tablet)and(max-width:$desktop) {
        height: 80px;
    }
    margin-bottom: 0;
    border-bottom: 1px solid #ececec;
    }

    &__conteiner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav {
        display: flex;
        
        @media screen and(max-width:$desktop) {
            align-items: center;
            position: relative;
        }
        @media screen and(min-width:$tablet)and(max-width:$desktop) {
            height: 80px;
        }
    }


    &__button {
        @media screen and(min-width:$tablet) {
            display: none;
        }
        display: flex;
        align-items: center;
        background-color: var(--primary-white-color);
        border:none;
        margin-left: auto;
    }

    &__menu-icon {
        fill: var(--headers-text-color);
    }


    &__menu {
        @media screen and(max-width:$tablet) {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            right: 0px;
        }
        @media screen and(min-width:$tablet) {
                display: flex;
                margin-left: 88px;
            }
        @media screen and(min-width:$desktop) {
            display: flex;
            margin-left: 93px;
        }
        @media screen and(min-width:$tablet)and(max-width:$desktop) {
            margin-right: 90px;
            margin-top: auto;
        }
    }

    &__item {
        display: block;
        @media screen and(min-width:$tablet) {
            &:not(:last-child) {
                margin-right: 50px;
            }
        }
    }
    
    &__link {
        
        display: block;
        position: relative;
        color: var(--headers-text-color);
        font-weight: 500;
        letter-spacing: 0.02em;
        padding-top: 8px;
        padding-bottom: 32px;
        @media screen and(max-width:$tablet) {
                background-color: white;
                padding-top: 0px;
                font-size: 40px;
            }
    }

}


.current::after {
    @media screen and(min-width:$tablet) {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    }
}

.contacts {
    @media screen and(min-width:$tablet) {
        display: flex;
        margin-left: auto;
    }
        @media screen and(min-width:$tablet)and(max-width:$desktop) {
            flex-direction: column;
            gap: 10px;
        }
    display: none;


    &__link {
        color: var(--primary-text-color);
        font-weight: 500;
        letter-spacing: 0.02em;
        display: flex;
        @media screen and(min-width:$desktop) {
            padding-top: 8px;
            padding-bottom: 32px;
        }
    }

    &__icons {
        display: block;
        fill: currentColor;
        margin-right: 10px;
    }

    &__item:not(:last-child) {
        margin-right: 50px;
    }
}